body {
    background-color: blanchedalmond;
}

.ingredients {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
}

.ingredients-table {
    border: 1px solid black;
    margin: 0 auto;
}

.instructions {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
}

.instructions ol {
    margin: 0 auto;
    width: 75%;
}